In [1]:
#cria uma variavel do tipo inteiro
x = 1
print(x)
#cria uma variavel do tipo float
y = 1.2
print(y)
#cria uma variavel do tipo string
z='data_science'
print(z)
#cria uma variavel do tipo boolean
w=True
print(w)

1
1.2
data_science
True

In [2]:
#calculadora
a=1
b=10
c=100
calc=(c/b)+a
print(calc)

11.0

In [4]:
#concatenação de textos
print('Os campos são conectados! \n peguei o ',z,' do primeiro campo e o ',c,'do segundo campo')

Os campos são conectados!
 peguei o  data_science  do primeiro campo e o  100 do segundo campo

In [7]:
#verificação de tipos
print("O ",z," é do tipo ", type(z),", já o ", y," é do tipo", type(y) )

O  data_science  é do tipo  <class 'str'> , já o  1.2  é do tipo <class 'float'>

In [10]:
#entrada de dados
x = input("Digite um valor")
print(type(x))

Digite um valor 2

<class 'str'>

In [12]:
#conversão de tipos de dados para inteiro
x = input("Digite um valor")
print(type(x))
x = int(x)
print(x)
print(type(x))

Digite um valor 2

<class 'str'>
2
<class 'int'>

In [13]:
#conversão de tipos de dados para float
x = input("Digite um valor")
print(type(x))
x = float(x)
print(x)
print(type(x))

Digite um valor 2

<class 'str'>
2.0
<class 'float'>